<div class="photo-card" [class.selected]="isPhotoSelected">
  <input *ngIf="isSelectionMode" type="checkbox" [checked]="isPhotoSelected" class="selection-checkbox">
  <div *ngIf="isImage" class="image-container">
    <img [src]="this.getUrl()" [alt]="photo.originalFilename" />
    <div class="info-overlay">
      <p><strong>Nome:</strong> {{ photo.originalFilename }}</p>
      <p><strong>Data:</strong> {{ photo.createdAt}}</p>
      <p><strong>Tamanho:</strong> {{ photo.size }} bytes</p>
      <p><strong>Tipo:</strong> {{ photo.contentType }}</p>
    </div>
  </div>

  <div *ngIf="isVideo" class="image-container">
    <video [src]="this.getUrl()"></video>
    <div class="info-overlay">
      <p><strong>Nome:</strong> {{ photo.originalFilename }}</p>
      <p><strong>Data:</strong> {{ photo.createdAt}}</p>
      <p><strong>Tamanho:</strong> {{ photo.size }} bytes</p>
      <p><strong>Tipo:</strong> {{ photo.contentType }}</p>
    </div>
  </div>
</div>
